<div id="moves-list-container">
		<div class="moves-list-item" id="moves-list-extra">
		</div>
		<div class="moves-list-item" id="moves-list-9">
		</div>
		<div class="moves-list-item" id="moves-list-8">
		</div>
		<div class="moves-list-item" id="moves-list-7">
		</div>
		<div class="moves-list-item" id="moves-list-6">
		</div>
		<div class="moves-list-item" id="moves-list-5">
		</div>
		<div class="moves-list-item" id="moves-list-4">
		</div>
		<div class="moves-list-item" id="moves-list-3">
		</div>
		<div class="moves-list-item" id="moves-list-2">
		</div>
		<div class="moves-list-item" id="moves-list-1">
		</div>
		<div class="moves-list-item" id="moves-list-0">
		</div>
		<div class="moves-list-item" id="moves-list-active">
		</div>
</div>
