<div id="moves-list-container">
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-extra"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-9"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-8"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-7"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-6"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-5"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-4"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-3"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-2"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-1"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-0"></span>
		</div>
		<div class="moves-list-item">
			<span class="moves-list-content" id="moves-list-active"></span>
		</div>
</div>
