<div id="current-move-container">
		<span id="current-move">No Selection</span>
</div>
<div id="next-move-container">
	<span id="next-move">No Selection</span>
</div>


<div class="movement-queue-container" data-channel-subscribe="orders">
	<div id="order-reciever"></div>
</div>
