<div id="current-move-container">
		<span id="current-move">No Selection</span>
</div>
<div id="next-move-container">
	<span id="next-move">No Selection</span>
</div>
<div id="move-amount-container">
	<span id="move-amount">0</span>
</div>
<div id="sync-update-broadcaster"></div>
