<p id="notice" class="kiosk-notice"><%= notice %></p>

<div class="kiosk-header">
  <h1 class="kiosk-title">First it was a Rainforest</h1>
</div>

<div class="grid-container">
  <% @movements.each do |movement| %>
    <div class="grid-item"
    movement_id="<%= movement.id %>"
    movement_display_name="<%= movement.display_name %>">
      <%= image_tag "300px-#{(movement.img_index%12)+1}.png", class: "grid-image" %>
    </div>
  <% end %>
</div>
